{% extends 'base.html' %}

{% block header %}
  <h1 class="alignleft">{% block title %}
    Current Passkeys
  {% endblock %} </h1>

  {% if g.admin%}
    <form class="alignright" action="{{ url_for('auth.register') }}">
        <input type="submit" class="button" value="Register New Passkey" />
    </form>
  {% endif %}
{% endblock %}

{% block content %}

  {% for key in keys %}
    <article class="post">
      <header>
        <div class="alignleft">
          <h1><div class=
            {% if error(key) %}"invalid"{% else %}"valid"{% endif %}>
            Passkey ID {{ key['id'] }}</div></h1>
          <div class="about">
            Used {{ key['used'] }} {% if key['num_uses'] %} of {{ key['num_uses'] }} {% endif %} time(s).
            <br> Created on {{ (key['created']-dt).strftime('%Y-%m-%d %H:%M:%S') }}
            {% if key['expiration'] %}
              <br> Expires at {{ key['expiration'].strftime('%Y-%m-%d %H:%M:%S') }}
            {% endif %}
            <br> Notes: {{ key['notes'] }}
          </div>
        </div>
        {% if not key['admin'] and not error(key) %}
          <div class="alignright">
            <form class="alignright" action="{{ url_for('internal.revoke', passkey_id=key['id'])}}">
              <input type="submit" class="button" value="Revoke" />
            </form>
          </div>
        {% endif %}
      </header>
    </article>
    <hr>
  {% endfor %}

{% endblock %}
